.contentWrapper {
  padding: 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  > * {
    flex: 0 0 auto;
    width: 100%;
    max-width: 700px;
  }

  h1 {
    margin: 32px 0px 0px 0px;
    font-size: 36px;
  }

  h2 {
    margin: 24px 0px 0px 0px;
    font-size: 24px;
  }

  h3 {
    margin: 18px 0px 0px 0px;
    font-size: 18px;
  }

  figure {
    margin: 16px 0px;
    text-align: center;

    img {
      max-width: 80%;
    }
  }
}

.loader {
  width: 80%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}
.loader::after {
  content: "";
  width: 192px;
  height: 4.8px;
  background: #81cd2e;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
