.contentWrapper {
  padding: 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  > * {
    flex: 0 0 auto;
    width: 100%;
    max-width: 700px;
    margin-top: 16px;
  }

  h2 {
    margin: 24px 0px 0px 0px;
    font-size: 24px;
  }

  figure {
    margin: 16px 0px;
    text-align: center;

    img {
      width: 80%;
    }
  }
}

.loader {
  width: 175px;
  height: 80px;
  display: block;
  margin: 16px auto auto auto;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      #cbf2ff 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #cbf2ff 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #cbf2ff 100%, transparent 0),
    linear-gradient(#cbf2ff 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: #81cd2e transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
