.contentWrapper {
  padding: 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  > * {
    flex: 0 0 auto;
    width: 100%;
    max-width: 700px;
    margin-top: 16px;
  }

  h2 {
    margin: 24px 0px 0px 0px;
    font-size: 24px;
  }

  figure {
    margin: 16px 0px;
    text-align: center;

    img {
      width: 100%;
    }
  }
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #81cd2e;
    animation: prog 40s ease-out infinite;
  }
}

@keyframes prog {
  to {
    width: 100%;
  }
}
