.intro {
	// height: 100vh;
	min-height: 460px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 40px;
}

.imageWrapper {
	display: inline-block;
	width: 20vw;
	min-width: 200px;
}

.image {
	display: inline-block;
	width: 100%;
	padding-top: calc(100%); // preserve 1:1 aspect ratio
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.subtitle {
	max-width: 100%;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.title {
		font-size: 10vw;
	}

	.subtitle {
		width: 720px;
		font-size: 22px;
	}
}
