.about {
	background-color: #f9f9f9;
}

.content {
	font-size: 14px;
}

.desktop {
	display: none;
}

@media only screen and (min-width: 768px) {
	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
}
