.about {
	background-color: #f9f9f9;
}

.content.mobile {
	font-size: 14px;
}

.desktop {
	display: none;
}

@media only screen and (min-width: 768px) {
	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	.about {
		.content {
			padding-left: 20px;
			padding-right: 20px;			
		}
	}
}