.menu {
	position: fixed;
	top: 0px;
	left: 0px;
	transform: translateX(-100%);
	transition: transform 300ms ease-out;
	padding: 0px 30px 0px 50px;
	height: 100%;
	min-height: auto;
	border-right: 1px solid #f9f9f9;
	overflow-y: scroll;
}

.name {
	margin: 80px 0px 50px 0px;
	color: #222222;
	font-size: 36px;
}

.menuItems {
	li {
		margin: 0px 0px 20px 0px;
		width: 200px;
		color: #555555;
		font-size: 14px;
		letter-spacing: 2px;
	}

	a {
		text-decoration: none;
	}
}

@media only screen and (min-width: 992px) {
	.menu {
		transform: translateX(0px);
		transition: transform 300ms ease-out;
	}
}
